.padded-cont {
    padding-top: 60px;
    padding-bottom: 60px;
}

.blue-cont {
    background-color: var(--lightblue);
    border-color: var(--navy);
    border-width: 30px;
}

.basics-listing li {
    margin-bottom: 30px;
    font-size: 20px;
}

.AboutSection {
    margin: auto;
    display: flex;
    justify-content: center;
}
    p {
        font-size: medium;
    }

    .description {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-right: 30px;
    }

    .half-flex {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .img-container {
        padding-left: 30px;
        flex-basis: 50%;
        justify-content: center;
    }

    .profile-img {
        align-self: center;
        border-radius: 50%;
        max-width: 70%;
        height: auto;
    }


    .surfing-img {
        width: 80%;
        height: auto;
        align-self: center;
        margin: 20px;
        border: 1px solid black;
    }

@media only screen and (max-width: 800px) {
    .padded-cont {
        padding-top: 5px;
        padding-bottom: 20px;
    }

    .img-container {
        padding-right: 8px;
        padding-left: 8px;
        flex-basis: 50%;
        justify-content: center;
    }

    .AboutSection {
        margin: 0px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-right: 8px;
        padding-left: 8px;
        flex-basis: 100%;
    }

    .half-flex {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        flex-direction: column;
        padding-left: 8px;
        padding-right: 8px;
    }

    .surfing-img {
        width: 100%;
        height: auto;
        align-self: center;
        margin: 30px;
        border: 2px solid black;
    }

    

}