.ExperienceSection {
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 50px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--lightblue);
}

    .left {
        flex-basis: 20%;
    }
    
    .right {
        flex-basis: 80%;
        justify-content: center;
        padding-left: 90px;
        padding-right: 20px;
    }


.Blue {
    border-color: #082046;
}

.title {
    padding-bottom: 15px;
}

.experience-listings {
    margin-left: 30px;
    font-size: 18px;
    margin-bottom: 40px;
}

.experience-title {
    font-weight: bold;
    font-size: 25px;
}

.experience-subtitle {
    margin-top: 10px;
    font-size: 20px;
}