.header {
    padding-left: 30px;
    padding-bottom: 200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    .name {
        flex-basis: 50%;
        width: 100%;
    }

    .description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    
    .img-container {
        margin-left: 100px;
        margin-right: 0px;
        float: right;
        flex-basis: 50%;
        justify-content: center;
    }

    .img {
        border-radius: 50%;
        max-width: 80%;
        height: auto;
    }

/* .title {
    padding-bottom: 50px;
} */

.subtitle {
    padding-top: 20px;
    margin-left: 50px;
    justify-content: right;
}

